# Notebook inicial de EDA para llamadas 123

In [1]:
# importar librerias de manipulacion
import pandas as pd #Traer todo lo de la libreria

import os
from pathlib import Path #Solo traer una funcion de la libreria

In [2]:
Path('.').resolve()

WindowsPath('C:/Users/usuario/Desktop/DATOS BIGDATA/DATOS BIGDATA/notebooks')

In [3]:
Path('.').resolve()
root_dir=Path('.').resolve().parent
root_dir
filename ='llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir, 'data', 'raw',filename) #Ayuda a buscar archivos de interes
file_path

'C:\\Users\\usuario\\Desktop\\DATOS BIGDATA\\DATOS BIGDATA\\data\\raw\\llamadas123_julio_2022.csv'

In [4]:
df = pd.read_csv(file_path,sep=';',encoding='latin-1') #, nrows=100

In [5]:
df.head(10)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,1/07/2022 0:08,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,1/07/2022 3:40
1,CRU-00278360-22,1/07/2022 0:14,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,1/07/2022 3:38
2,CRU-00278365-22,1/07/2022 0:21,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,1/07/2022 4:08
3,CRU-00278370-22,1/07/2022 0:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,1/07/2022 0:53,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,1/07/2022 3:25
5,CRU-00278376-22,1/07/2022 0:56,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA,0000-00-00 00:00:00
6,CRU-00278380-22,1/07/2022 1:09,17,La Candelaria,57,A¤os,FEMENINO,Norte,S¡ntomas Gastrointestinales,CRITICA,1/07/2022 4:17
7,CRU-00278379-22,1/07/2022 1:09,19,Ciudad Bol¡var,65,A¤os,FEMENINO,Sur,Enfermo,ALTA,1/07/2022 5:07
8,CRU-00278386-22,1/07/2022 1:11,15,Antonio Nari¤o,14,A¤os,MASCULINO,Sur,Convulsi¢n,ALTA,1/07/2022 2:37
9,CRU-00278383-22,1/07/2022 1:12,4,San Crist¢bal,83,A¤os,FEMENINO,Sur,Evento Respiratorio,ALTA,0000-00-00 00:00:00

In [6]:
df.shape[0]

13055

In [7]:
type(df.shape)

tuple

In [8]:
df.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [9]:
df['TIPO_INCIDENTE'].value_counts(normalize=True)

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsi¢n                                0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Tor cico                            0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
S¡ntomas Gastrointestinales               0.028878
Ca¡da de Altura                           0.023899
Patolog¡a Ginecobsttrica                 0.021065
Intoxicaci¢n                              0.019916
Amenaza de Suicidio                       0.011337
Acompa¤amiento Evento                     0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuci¢n / rescate                   0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [10]:
df['EDAD'].value_counts(normalize=True, dropna = False)

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [11]:
df["EDAD"].unique()

array(['88', '16', '52', 'SIN_DATO', '33', '57', '65', '14', '83', '35',
       '19', '53', '56', '45', '2', '18', '34', '84', '80', '7', '64',
       '41', '28', '23', '85', '92', '38', '11', '58', '70', '50', '27',
       '67', '54', '87', '24', '90', '99', '49', '91', '21', '62', '59',
       '26', '78', '30', '32', '51', '15', '79', '37', '60', '76', '22',
       '47', '61', '82', '86', '77', '63', '39', '89', '36', '97', '40',
       '75', '13', '25', '73', '69', '72', '68', '44', '31', '74', '81',
       '43', '20', '66', '10', '48', '29', '8', '17', '94', '55', '1',
       '4', '3', '9', '71', '46', '6', '95', '93', '98', '96', '42', '5',
       '12'], dtype=object)

In [12]:
len(df['EDAD'].unique())

100

In [13]:
len(df['TIPO_INCIDENTE'].unique())

21

In [14]:
lista_columnas= df.columns
lista_columnas[5:8]

Index(['UNIDAD', 'GENERO', 'RED'], dtype='object')

In [15]:
for col in lista_columnas:
    print('columna', col)

columna NUMERO_INCIDENTE
columna FECHA_INICIO_DESPLAZAMIENTO_MOVIL
columna CODIGO_LOCALIDAD
columna LOCALIDAD
columna EDAD
columna UNIDAD
columna GENERO
columna RED
columna TIPO_INCIDENTE
columna PRIORIDAD
columna RECEPCION

In [16]:
lista_columnas = df.columns

dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = df[col].unique()
    n_unicos = len(lista_unicos)
    dict_reporte[col] = n_unicos
    #print('columna', col, n_unicos)

print('fuera del loop')
print(dict_reporte)

fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 11078, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 4894}

In [17]:
df_reporte=pd.DataFrame.from_dict(dict_reporte, orient='index')
df_reporte.rename({0: 'conteo'}, inplace = True,axis=1)
df_reporte

                                   conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   11078
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            4894

In [18]:
out_name = 'reporte' + filename
out_name
out_path = os.path.join(root_dir,'data','processed',out_name)
df_reporte.to_csv(out_path)